.editorWindow > .MuiTextField-root {
    margin-bottom: 50px;
    margin-left: 25px;
    
  }
  .editorWindow{
      height: 100vh;
      margin-top: 10px;
      padding-bottom:10px;
      background-color: #f8f8f8;
 
  }

 .editorWindow__btn{
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: 45px;
    padding-right: 350px;
 }

 .editorWindow__btn > .MuiButton-root{
   
    margin-left: 20px;
    
 }