.header{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    justify-content: space-between;
    background-color: #FCF3CF;
    /* position: fixed;
    top: 0;
    width: 100%;
   z-index: 1; */
    color:#D35400;
    
}
.header__left{
    display: flex;
   
    align-items: center;
    padding-left:50px ;
    align-items: center;
}


.header__right{
    padding-right:50px ;
    align-items: center;
    
}
