.header{
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    background-color: orange;
   
    color: white;
}
.header__left{
    padding-left:50px ;
    align-items: center;
}
.header__right{
    padding-right:50px ;
    align-items: center;
    
}
