.sidebarNotes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#FCF3CF;
    color:#D35400;
    padding: 7px;
    border: 2px solid white;
    border-radius: 10px;
    max-height: 75px;
    height: 75px;

   
}


.sidebarNotes__icons > .MuiSvgIcon-root{
    margin-left: 20px;
    font-size: 28px;
    padding-right: 8px;
   
}

.sidebarNotes__noteData > h1 {
    font-size: 18px;
    color:#D35400;
}
.sidebarNotes__noteData > p {
    font-size: 12px;
    color: #D35400;
}
.sidebarNotes:hover {
    opacity: 0.9;
    background-color:#F8C471;
    
  }
  .sidebarNotes__icons > .MuiIconButton-root	{
    color: #D35400;
   
}
