.sidebarNotes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: red;
    padding: 7px;
    border: 2px solid peachpuff;
    border-radius: 10px;
    
}


.sidebarNotes__icons > .MuiSvgIcon-root{
    margin-left: 20px;
    font-size: 28px;
    padding-right: 10px;
}
