.sidebar{
    background-color: orange;
    border-top: 1px solid white;
    width: 350px;
    color: white;
    height: 100vh;
    overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
    display: none;
  }
.sidebar__header{
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 13px;
 
}

.sidebar__header > .MuiSvgIcon-root{
    font-size: 50px;
    padding: 8px;
    
}

.sidebar__addbtn{
    flex: 1;
   
}
